<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/company.css">
    <script type="module" src="/js/api.js"></script>
    <script type="module" src="/js/employee_form.js"></script>
    <title>Document</title>
</head>
<body>
    <nav>
        <ul>
            <li class="search-bar-list">
                <input type="text" name="search-bar" id="search-bar" placeholder="Search">
            </li>
            <li class="new-employee">
                <button class="new-employee-button" onclick="toggleNewForm()">New employee</button>
            </li>
        </ul>
    </nav>

    <main>
        
    </main>
</body>
</html>