:root {
    --main-bg-color: #000022;
    --primary-color: #312c4a;
    --secondary-color: #463f59;
    --tertiary-color: #685e74;
    --cta-color: #897c8f;
    --text-color: white;
}
body {
    padding: 0;
    margin: 0;
    background-color: var(--main-bg-color);
}

#employee-container {
    display: grid;
    grid-template-columns: auto auto auto;
    z-index: 1;
}

/* form */
.toggleble-form {
    display: none;
    overflow: hidden;
    width: 50%;
    top: 25%;
    left: 25%;
    position: absolute;
    z-index: 2;
    background-color: var(--secondary-color);
    border: solid 2px var(--tertiary-color);
    border-radius: 10px;
    padding: 10px;
}

.toggleble-form form {
    padding-top: 10px;
    display: flex;
    flex-direction: column;
}

.toggleble-form label {
    color: var(--text-color);
    padding-top: 10px;
    padding-bottom: 5px;
    font-size: 16px;
}

.toggleble-form input {
    padding: 5px;
    border: solid 2px var(--secondary-color);
    border-radius: 5px;
}
.toggleble-form input[type="submit"] {
    background-color: var(--cta-color);
    color: var(--text-color);
    border: solid 2px var(--secondary-color);
    border-radius: 5px;
}
.toggleble-form .close-button {
    background-color: var(--cta-color);
    padding: 5px;
    border: solid 2px var(--secondary-color);
    border-radius: 5px;
    font-size: 20px;
    color: var(--text-color);
}
/* nav */
nav {
    padding: 5px 0 5px 0;
    width: 100%;
    background-color: var(--primary-color);
    border-bottom: solid 1px var(--secondary-color);
}

nav ul {
    display: flex;
    list-style: none;
    align-items: center;
}

nav li {
    padding-right: 10px;
}

nav input[type="text"] {
    padding: 10px;
    width: 250px;
    border: solid 2px var(--secondary-color);
    border-radius: 5px;
}

nav .new-employee-button {
    background-color: var(--cta-color);
    color: var(--text-color);
    border: solid 2px var(--secondary-color);
    border-radius: 5px;
    padding: 10px;
}