:root {
    --main-bg-color: #000022;
    --primary-color: #312c4a;
    --secondary-color: #463f59;
    --tertiary-color: #685e74;
    --cta-color: #897c8f;
    --text-color: white;
}

body {
    padding: 0;
    margin: 0;
    background-color: var(--main-bg-color);
}

main {
    width: 100%;
}

/* nav */
nav {
    padding: 5px 0 5px 0;
    width: 100%;
    background-color: var(--primary-color);
    border-bottom: solid 1px var(--secondary-color);
}

nav ul {
    display: flex;
    list-style: none;
    align-items: center;
}

nav li {
    padding-right: 10px;
}

nav input[type="text"] {
    padding: 10px;
    width: 250px;
    border: solid 2px var(--secondary-color);
    border-radius: 5px;
}

nav .new-employee-button {
    background-color: var(--cta-color);
    color: var(--text-color);
    border: solid 2px var(--secondary-color);
    border-radius: 5px;
    padding: 10px;
}

